body{
	background: #eee;
}
form{
	max-width: 330px;
	padding: 15px;
	margin: 50px auto;
}
h3{
	font-weight: bold;
}
input.form-control{
	height: 40px;
	padding: 20px 10px;
	font-size: 16px;
}
input[type="text"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
input[type="password"]{
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}